<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Se o arquivo ou diretório existir, serve ele diretamente (assets, css, js)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Todo o resto vai para o index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
# Impede listagem de diretórios
Options -Indexes